.venv
.vscode
__pycache__
settings.json

_build

docs/_build
docs/build

Tutorial/screenshots/*
Tutorial/files/*

secrets.yaml
secrets.yml

multi-docs

landingpage-video.mp4
sphinx_replace_htmlpage_toctree