:root {
    --inkboard: #13365B;
    --inkboard-light: #2D6CB0;
    --inkboard-gray: #3F3B3C;
    --inkboard-dark: #231F20;

    --sd-color-primary: var(--inkboard);
    --sd-color-secondary: var(--inkboard-light);
    --sy-c-link-hover: var(--inkboard-light);
  }

html.light {
    --sy-c-foot-background: var(--inkboard);
    --sy-c-foot-text: white;
}

html.dark {
    --sy-c-foot-background: var(--inkboard);
    --sy-c-foot-text: white;
    --sy-c-background: var(--inkboard-dark);
    
}

html[data-accent-color='blue'] {
    --accent-9: var(--inkboard-light);
    --accent-a3: #2d6cb05b;
    /* --accent-a11: #13365B; */
}